---
layout: default
comments: true
---
<div class="container post">
	<h5>{{ page.title }}</h5>
	<h6>{{ page.date | date: "%A - %m/%d/%y" }}</h6>
	<p>By: {{ site.author }} | <a href="{{ post.url }}#disqus_thread"></a></p>
	{{ content }}
</div>
<div class="container">
	{% if page.comments %} 
		{% include disque.html %}     
	{% endif %}
</div>
<div class="container">
	<p>Follow me on: <a href="https://twitter.com/howhow1" target="_blank">Twitter</a><br>
	Check out my: <a href="https://github.com/bt93" target="_blank">GitHub</a><br>
	Check out my: <a href="https://www.linkedin.com/in/jason-howie-837ba36b/" target="_blank">LinkedIn</a><br>
	Contact me at: <a href="mailto:contact@jasonrhowie.com">contact@jasonrhowie.com</a></p>
</div>
<div class="container">
	<a href="#">To Top</a>
</div>
