* {
	box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

/* Keeps footer down to bottom */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Makes sure content isn't blocked by the footer */
.main-content {
	padding-bottom: 10em;
}

.blog-list {
	list-style-type: none;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px #343a40 solid;
}

.last-blog {
  border-bottom: none;
}

.post img {
  max-width: 1000px;
}

.thumb-nail {
  width: 40%;
  border-radius: 50%;
  padding-bottom: 30px;
}

figcaption {
  padding-left: 30%;
  text-decoration: underline;
}

.background {
  background-image: url('https://images.pexels.com/photos/853719/pexels-photo-853719.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: 15% 20%;
  background-repeat: no-repeat;
  border-radius: 0%;
}

.foot-text {
  font-size: .7em;
}

.b-s {
  color: #563D7C;
}

.jk {
  color: #DA0000;
}

.icons p {
  font-size: 1.7em;
}

.portfolio {
  height: 20em;
}

@media only screen and (max-width: 1220px) {
  .post img {
    width: 50vw;
  }

  .portfolio {
    height: 15em;
  }
}